#main {
    background-color: lightsteelblue;
    margin:auto;
    top: 0px;
    left: 0;
    width: 800px;
    height: 1335px;
    border-style: solid;
    border-color: darkblue;
    border-right: 1px, 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.lorembv {
    background-color: lightsteelblue;
    margin:auto;
    top: 0px;
    left: 0;
    width: 780px;
    text-align:center;
}

.lorem { 
    background-color: lightsteelblue ;
    margin:auto;
    top: 0px;
    left: 0;
    width: 780px;
    height: 215px;
    border-style: solid;
    border-color:blue;
    border-width: 1.5px;

}
.mauris {
    background-color: lightsteelblue ;
    margin:auto;
    top: 0px;
    left: 0;
    width: 780px;
    height: 215px;
    border-style: solid;
    border-color:blue;
    border-width: 1.5px;
}
.porta {
    background-color: lightsteelblue ;
    margin:auto;
    top: 0px;
    left: 0;
    width: 780px;
    height: 215px;
    border-style: solid;
    border-color:blue;
    border-width: 1.5px;
}
.ipsum {
    background-color: lightsteelblue ;
    margin:auto;
    top: 0px;
    left: 0;
    width: 780px;
    height: 215px;
    border-style: solid;
    border-color:blue;
    border-width: 1.5px;
}
.vitae {
    background-color: lightsteelblue ;
    margin:auto;
    top: 0px;
    left: 0;
    width: 780px;
    height: 235px;
    border-style: solid;
    border-color:blue;
    border-width: 1.5px;
}

.tekst1 {
    margin:left;
    top: 0px;
    left: 0;
    width: 600px;
    height: 210px;
    padding-left: 2px;
}

.tekst2 {
    margin:left;
    top: 0px;
    left: 0;
    width: 600px;
    height: 200px;
    padding-left: 2px;
}

.tekst3 {
    margin:left;
    top: 0px;
    left: 0;
    width: 600px;
    height: 200px;
    padding-left: 2px;
}

.tekst4 {
    margin:left;
    top: 0px;
    left: 0;
    width: 600px;
    height: 200px;
    padding-left: 2px;
}

.tekst5 {
    margin:left;
    top: 0px;
    left: 0;
    width: 600px;
    height: 200px;
    padding-left: 2px;
}


.foto1 {
    position: absolute;
    top: 180px;
    right: 0;
    width: 530px;
    height: 125px;
}
.foto2 {
    position: absolute;
    top: 420px;
    right:  0;
    width: 530px;
    height: 100px;
}
.foto3 {
    position: absolute;
    top: 660px;
    right: 0;
    width: 530px;
    height: 100px;
}
.foto4 {
    position: absolute;
    top: 895px;
    right: 0;
    width: 530px;
    height: 100px;
}
.foto5 {
    position: absolute;
    top: 1145px;
    right: 0;
    width: 530px;
    height: 100px;
}
.menu {
    background-color: darkblue;
    width: 100%;
}

nav ul {
     list-style: none;
     padding:0px;
     margin: 0px;
}

nav ul li {
    display:inline-block;
    padding:10px;
    margin-left: 65px;
}

nav ul li a {
    color: lightgray;
    text-decoration: none;
}

nav ul li:hover {
    font-weight: bold;
    color:white;
    font-size: 92.7%;
}